/*16 базовых селекторов*/

/*Универсальный селектор */
/* *{  
 margin: 0;
 padding: 0;
} */
/*селектор тега*/
/* a { color: red; }       
ul { margin-left: 0; }
       */
/* селектор ID */
/* #container {   
 width: 960px;
 margin: auto;
} */
 /* селектор ID и все что в нем */
/* #container * {  
    border: 1px solid black;
   } */
/* селектор класса */
/* .error {        
color: red;
} */
 /* контекстный (только к тегу а, который в li */
/* li a {             
text-decoration: none;
color: red;
} */

/* Соседний селектор. 1 элемент на том же уровне, если идет сразу за ul*/
/* ul + p {
 color: red; 
} */
/*Выбор только прямых потомков ( 1 уровень вложенности)*/
/* div.block > p {
color: chartreuse;
} */

/*Родственный селектор выбор всех элементов p, после элемента с класом block на том же уровне*/
/* div.block ~ p {
 color: red;
} */
/* Выберет только те ссылки, у которых имеется указанный атрибут title. */
/* a[href] { 
 color: green;
} */
/* ссылки,c данным href */
/* a[href="http://youtube.com"] { 
color: #890909; 
}

a[href="http://twitter.com"]{
       font-size: 24px;
       color:darkslateblue;
} */

/* * говорит, что указанное значение должно быть частью указанного атрибута.
Выберет и youtube.com, и net.tubel.com,, и даже rutube.com.*/
/* a[class*="link"] {
color: #7bf806; 
} */

/*^говорит, что указанное значение должно начинаться с http.*/
 /* a[href^="http"] {  
color:green;
} */

/* ~говорит, что указанное значение может 
быть одним из слов, которые есть 
значением атрибута*/
/* a[class~="link"] {  
font-size: 200%;
} */

/* $ указывает на конец строки. В этом случае мы ищем все ссылки на фото, 
т.е. путь в них должен заканчиваться на .jpg. */
/* a[href$=".jpg"] {
 color: red;
} */

/* Для выбора всех типов изображений, включая png, jpeg,jpg, gif */
/* img[data-filetype="image"] {
 border: 5px solid red;
} */